[State distance]
L_bs  = 0.000001
L_fwd = 0.000005
force_change = True

[State deffention]
F_th    = 0.0005
min_gap = 10
small_gap = 5
p0_Ft_lim = 0,    5
p1_Ft_lim = 12,  31
p2_Ft_lim = 35,  59
p3_Ft_lim = 70, 999
min_class_time = 75

[Conversion settings]
Lz = 300
nx = 25
ny = 25
nz = 390

[Misc]
c_timer_min = 3